*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*
 form{
    width:50%;
    margin:10em 20em;
   
    
} */
.all{
    margin:100px 350px;
   border:2px solid black;
   width:50vw;
   height:70vh;
   padding:30px;
   background-color: cornflowerblue;
   border-radius:20px;
   
}
label{
    font-size: 20px;
    font-family:sans-serif;
    text-align:center;

}

.first,.second{
    padding:15px;
    border:2px solid black;
    margin:5px;
}
button{
    padding:5px 10px;
    background-color: coral;
    color:black;
    margin-top:40px;;
    margin-right:20px;
    margin-bottom:15px;
    justify-content: space-around;
    border-radius:10px;
    box-shadow:5px 5px 3px #1c1515;
}
button:hover{
    transform:translate(5%,-5%);
}