* {
    /* border-top: 10px solid #1098ad; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #faf2e4;
    font-style:sans-serif;

  }
  img{
    border:2px solid black;
    border-radius:50%;
    height:25%;
    width:25%;
    
    
  }
  h1{
    text-align:center;
    color:black;
    text-transform:uppercase;
   

  }
  hr
  {
    margin-left:20px;
    color:blue;
    
  }
  .demo{
    margin-left:45px;
    
  }
  h4
  {
    margin:20px 10px;
    color: #d1633c;
    font-size: 1em;
  }
  p{
    font-size:20px;
    font-weight:normal;
    
    line-height:1;
    margin:20px 10px;

  }

