
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display:grid;
    grid-template-rows: 1fr 1fr;
    background-color: pink;
    /*justify-content: center;
    align-items: center;*/
    height:100%;
    width:100%vw;
   /* margin:30px 50px;*/
}
.secondgrid{
    background-color:cyan;
    /*height:80%;*/
    
}
.grid1{
    margin:43px auto;
    width:90%;
    height:50%;

    /*text-align:center;*/
}

.grid2{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width:90%;
    margin:0 auto;
    border-bottom:2px solid black;
    /*margin:30px 50px;*/
}
h1{
    
    font-size:10em;
    font-weight: bold;
    margin:10px;
    font-family: 'Rubik', sans-serif;

}
p{  
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
}
.btn{
    padding:10px 40px;
    background-color: #4263eb;
    border-radius:10px;
    margin:10px;
    color:white;
    font-size:30px;
    font-family: 'Rubik', sans-serif;
}
.innerbtn
{

    padding:10px 40px;
    background-color:#868e96;
    border-radius:10px;
    margin:20px 0px 30px 0px;
    color:white;
    font-size:30px;
    font-family: 'Rubik', sans-serif;

}
h3{
    font-size:6em;
    font-weight: bold;
    margin:20px 0px 10px 0px;
    font-family: 'Rubik', sans-serif;
}
.grid21{
    margin-left:10px 30px;
}
.copy{
    margin-left:5%;
    padding-top:20px;

}
/* @media screen and  (max-width:800px){
    
} */

/*smartphone*/
@media (max-width:480px)
{
    .container{
        display:grid;
        grid-template-rows: 1fr 1fr;
        background-color: #e9ecef;
        /*justify-content: center;
        align-items: center;*/
        height:100vh;
        width:100%;
       /* margin:30px 50px;*/
    }
    p{  
        font-size: 10px;
        line-height: 1;
        font-family: 'Rubik', sans-serif;
    }
    .innerbtn
    {
    padding:5px 10px;
    background-color:#868e96;
    border-radius:8px;
    margin:20px 0px 20px 0px;
    color:white;
    font-size:5px;
    }
    .secondgrid{
        background-color:#f8f9fa;
        /*height:80%;*/
        
    }
    .grid1{
        margin:30px 30px;
        width:90vh;
        height:50%;
    
        /*text-align:center;*/
    }



    .grid2{
        display:grid;
        grid-template-columns:1fr;
        
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        width:90%;
        height:100%;

        margin:0 auto;
        /*border-bottom:2px solid black;*/
        /*margin:30px 50px;*/
    }
    .btn{
        padding:5px 5px;
        background-color: #4263eb;
        border-radius:3px;
        margin: 5px;
        color:white;
        font-size: 5px;
        font-family: 'Rubik', sans-serif;
    }
    h3{
        font-size:15px;
        font-weight: bold;
        margin:15px 0px 5px 0px;
        font-family: 'Rubik', sans-serif;
    }
    h1{
    
        font-size:25px;
        font-weight: bold;
        margin:10px;
        font-family: 'Rubik', sans-serif;
    
    }
    
    


}
